.App {
    display: grid;
    place-items: center;
    background-color: rgb(174, 185, 195);
    height: 100vh;
}

.app-body {
    display: flex;
    width: 70%;
    height: 95%;
    margin-top: 30px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    box-shadow: -1px 5px 20px -6px black;
}